@model MvcApplication2.Models.ReporterPanelModel
@{
    ViewBag.Title = "Reporter";
}

<div class="Reporter">

    <script type="text/javascript">
        $(function () {
            $("#fromDatePicker").datepicker();
        });
        $(function () {
            $("#toDatePicker").datepicker();
        });
    </script>

    @using (Html.BeginForm("Reporter", "Reporter"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        @Html.Raw("<div>")
            @Html.LabelFor(model => model.fromDate)
            @Html.TextBoxFor(x => x.fromDate, new { id = "fromDatePicker" })
        @Html.Raw("</div>")
        
        @Html.Raw("<div>")
            @Html.LabelFor(model => model.toDate)
            @Html.TextBoxFor(x => x.toDate, new { id = "toDatePicker" })
        @Html.Raw("</div>")       
 
  @*       
        @Html.Raw("<div>");
            @Html.EditorFor(x => x.totalNRequests)
            @Html.LabelFor(model => model.totalNRequests)
        @Html.Raw("</div>") 
        
        @Html.Raw("<div>");
            @Html.EditorFor(x => x.averageTimePerRequests)
            @Html.LabelFor(model => model.averageTimePerRequests)
        @Html.Raw("</div>")       
        
      
        List<SelectListItem> items = new List<SelectListItem>();
        items.Add(new SelectListItem
        {
            Text = "Geographic Region",
            Value = "1"
        });
        items.Add(new SelectListItem
        {
            Text = "Caller Type",
            Value = "2",
            Selected = true
        });
        items.Add(new SelectListItem
        {
            Text = "Tumour Group",
            Value = "3"
        });
        
        @Html.DropDownListFor(x => x.stratify,  new SelectList(items, "Value", "Text"))
        
        *@
        
        <div>
            <input type="submit" value="Generate Report" />
        </div> 
    }

</div>

