@model MvcApplication2.Models.DISpecialistModel

<script type="text/javascript">
    function ChangeListBoxWidth(obj) {
        obj.style.width = '';
    }
    function ResetListBoxWidth(obj, width) {
        obj.style.width = width;
    }
</script>

<script>
    $(function () {
        $("#newRequest").click(function () {
            @*@{
                       
                Model.editModel = new MvcApplication2.Models.RequestViewModel();}*@
            $("#dispecialist").hide();
            $("#rborder").show();
        });
    });
    
</script>

<script>
    $(function () {
        $("#back").click(function () {
            $("#rborder").hide();
            $("#dispecialist").show();
        });
    });    
</script>

<!--Question-->
<script>
    var myEditor = new YAHOO.widget.SimpleEditor('msgpost', {
        height: '100px',
        width: '433px',
        animate: false,
        handleSubmit: true ,
        toolbar: {
            buttons: [
                {
                    group: 'textstyle', label: 'Font Style',
                    buttons: [
                        { type: 'push', label: 'Bold', value: 'bold' },
                        { type: 'push', label: 'Italic', value: 'italic' },
                        { type: 'push', label: 'Underline', value: 'underline' },
                        { type: 'separator' },
                        {
                            type: 'select', label: 'Arial', value: 'fontname', disabled: false,
                            menu: [
                                { text: 'Arial', checked: true },
                                { text: 'Arial Black' },
                                { text: 'Comic Sans MS' },
                                { text: 'Courier New' },
                                { text: 'Lucida Console' },
                                { text: 'Tahoma' },
                                { text: 'Times New Roman' },
                                { text: 'Trebuchet MS' },
                                { text: 'Verdana' }
                            ]
                        },
                        { type: 'spin', label: '13', value: 'fontsize', range: [9, 75], disabled: false },
                        { type: 'separator' },
                        { type: 'color', label: 'Font Color', value: 'forecolor', disabled: false },
                        { type: 'color', label: 'Background Color', value: 'backcolor', disabled: false }
                    ]
                }
            ]
        }
    });
    myEditor.render();
    //YAHOO.util.Event.on('submitButton', 'click', function () {
    //    myEditor.saveHTML();

    //});
</script>

<!--Response-->
<script>
    var myEditor = new YAHOO.widget.SimpleEditor('response', {
        height: '100px',
        width: '420px',
        animate: false,
        handleSubmit: true ,
        toolbar: {
            buttons: [
                {
                    group: 'textstyle', label: 'Font Style',
                    buttons: [
                        { type: 'push', label: 'Bold', value: 'bold' },
                        { type: 'push', label: 'Italic', value: 'italic' },
                        { type: 'push', label: 'Underline', value: 'underline' },
                        { type: 'separator' },
                        {
                            type: 'select', label: 'Arial', value: 'fontname', disabled: false,
                            menu: [
                                { text: 'Arial', checked: false },
                                { text: 'Arial Black' },
                                { text: 'Comic Sans MS' },
                                { text: 'Courier New' },
                                { text: 'Lucida Console' },
                                { text: 'Tahoma' },
                                { text: 'Times New Roman' },
                                { text: 'Trebuchet MS' },
                                { text: 'Verdana' }
                            ]
                        },
                        { type: 'spin', label: '13', value: 'fontsize', range: [9, 75], disabled: false },
                        { type: 'separator' },
                        { type: 'color', label: 'Font Color', value: 'forecolor', disabled: false },
                        { type: 'color', label: 'Background Color', value: 'backcolor', disabled: false }
                    ]
                }
            ]
        }
    });
    myEditor.render();
    //YAHOO.util.Event.on('save', 'click', function() {
    //   // document.getElementById('save').disabled = true;
    //    myEditor.saveHTML();
    //    setTimeout(function () {
    //        document.getElementById('save').disabled = true;
    //    }, 300);
    //});

</script>
@using (Html.BeginForm("filterRequestByKeyword", "DISpecialist"))
{
        
    @Html.Raw("<div>Search:</div><div>");

                                        List<SelectListItem> items = new List<SelectListItem>();

                                        items.Add(new SelectListItem
                                        {
                                            Text = "Keyword",
                                            Value = "1",
                                        });
                                        items.Add(new SelectListItem
                                        {
                                            Text = "RequestID",
                                            Value = "2"
                                        });
        
    @Html.DropDownListFor(x => x.searchModel.searchBy, new SelectList(items, "Value", "Text"))

    @Html.TextBoxFor(m => m.searchModel.searchKey, new { id = "searchBar" })
    <input type="submit" value="Search" />

        
    @Html.Raw("</div>");
}
<style>
    div#resultList {
        height:300px;
        overflow-y:scroll;
        width:880px;
    }
    td {
        width:140px;

    }
    th {
        width: 115px;
        font:bold;
    }


</style>

<script>
    $(document).ready(function () {
        $("#scrollBorder tr:even").css("background-color", "#C6E2FF");
        $("#scrollBorder tr:odd").css("background-color", "#EFF1F1");


    });
</script>

@using (Html.BeginForm("view", "DISpecialist"))
{
    <div id="header">
        <table>

            <tr>
                    <th>RequestId</th>
                    <th>PatientId</th>
                    <th>Time Created</th>
                    <th>Created By</th>
                    <th>Completed By</th>
                    <th>Time Completed</th>
                </tr>

            </table>
        </div>
    
    
    <div id="resultList">

        @if (Model != null && Model.requests != null)
        {
            <table id="scrollBorder">
                
                @foreach (var item in Model.requests)
                {
                
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.request.RequestId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.patient.PatientId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.userCreateRequest.TimeCreated)
                        </td>
                        <td>
                            @Html.Label(item.createrProfile.FirstName + " " + item.createrProfile.LastName)
                        </td>
                        <td>
                            @Html.Label((item.completerProfile == null ? "" : item.completerProfile.FirstName) + " " + (item.completerProfile == null ? "" : item.completerProfile.LastName))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.userCompleteRequest.CompletionTime)
                        </td>
                        <td>
                            @{int a = 2; }
                            @*@{string name = "edit" + item.request.RequestId;}
                            @{string cname = "#"+name;}*@
                            @*<button  id="edit<%= item.request.RequestId %>">Edit</button>*@
                            @Html.ActionLink("edit", "edit", new { rid=item.request.RequestId})
                            @*("Edit", "create", "DISpecialist", null, new { id="edit"+item.request.RequestId})*@
                        </td>
                        
                    </tr>

                }
            </table> 
     
        }

  </div>
        <input type="submit" value="View Request" />
  
}






@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}