<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8" />
    <title>@ViewBag.Title - DIRA</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

    <!--test if it works============================================================================= -->
    <!-- Skin CSS file -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/assets/skins/sam/skin.css" />
    <!-- Utility Dependencies -->
    <script src="http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script src="http://yui.yahooapis.com/2.9.0/build/element/element-min.js"></script>
    <!-- Needed for Menus, Buttons and Overlays used in the Toolbar -->
    <script src="http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js"></script>
    <!-- Source file for Rich Text Editor-->
    <script src="http://yui.yahooapis.com/2.9.0/build/editor/simpleeditor-min.js"></script>
    <!-- test ends here=================================================================================-->

    <script>
        $(function () {
            $("#tabs").tabs();
        });
    </script>
    <script>
        $(function () { var availableTags = ["Mike", "Mj", "Tok", "ib", "Ray"]; $("#inputbox").autocomplete({ source: availableTags }); });

    </script>

    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">
                        <img src="~/Images/BCcancer_logo_2colour.jpg" height="135" width="375" /></a>
                </p>
            </div>
            <div class="float-right">
                <section id="login">
                    @Html.Partial("_LoginPartial");
                    
                    
                </section>
                

            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @TabFactory_create(User.Identity.Name, new string[] { "Admin", "Editor", "Viewer", "Reporter" })
            @RenderBody()
        </section>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
            </div>
        </div>
    </footer>


    @RenderSection("scripts", required: false)
</body>

</html>




@helper TabFactory_create(string username, string[] role)
{
@*
    <div id="tabs">
        <ul>
            @for (int i = 0; i < role.Length; i++)
            {
                <li><a href="@("#" + role[i])">@(role[i])</a></li>
            }

        </ul>*@


    <nav>
        <ul id="menu">
    @for (int i = 0; i < role.Length; i++)
    {
            
    
            if (role[i].Equals("Admin"))
            {
                <li>@Html.ActionLink("Admin", "Admin", "Admin")</li>
            }
            else if (role[i].Equals("Editor"))
            {
                <li>@Html.ActionLink("DI Specialist","DISpecialist","DISpecialist")</li>
            }
            else if (role[i].Equals("Viewer"))
            {
               // <li>@Html.ActionLink("Viewer", role[i], role[i])</li>
            }
            else if (role[i].Equals("Reporter"))
            {
                <li>@Html.ActionLink("Reporter", "Reporter", "Reporter")</li>
            }

       
    }
             </ul>
    </nav>


    // </div>
    /*... code to make the page look nicer …*/ 
    
}


@helper AdminFactory_create()
{
@*<section>
        @Html.Partial("~/Views/Admin/Admin.cshtml", new MvcApplication2.Models.Keywords())
    </section>*@
}
@helper SearchBar_create()
{    
@*   
// search bar with a autocomplete enabled input text box    
                               <div>        <input type="text" id="inputbox" autofocus />        
                                   <input type="button" value="Search" onclick="location.href='<%: Url.Action("Action", "Controller") %>'" />    </div>    
                               }*@
}

@helper AdminFactory_create(string username)
{
    //@SearchTable(@username)
    //@AccountManagement(@username)
    /*... code to make the page look nicer …*/
}

@helper DI_SpecialistFactory_create(string username)
{
    @Html.Partial("~/Views/DISpecialist/DISpecialist.cshtml")//,new MvcApplication2.Models.DISpecialistModel())
    //@Html.Partial("~/View/")
}


@helper ViewerFactory_create(string username)
{

}

@helper SearchBar()
{
    // search bar with a autocomplete enabled input text box
    <div>
        <input type="text" id="inputbox" autofocus />
        <input type="button" value="Search" />
    </div>
    
}

@helper SearchTable(string username)
{
       
}

@helper AccountManagement(string username)
{
    /*....code to display the account management panel….*/
    // Search button
    // @Html.ActionLink("Search", "SearchUser", "Mediator", getUserId());
    //@Html.ActionLink("Edit", "EditUser", "Mediator", getUserId());
}





@helper ReporterFactory_create(string username)
{
    
    @Html.Partial("~/Views/Reporter/Reporter.cshtml")//,new MvcApplication2.Models.ReporterPanelModel())
}

