@model MvcApplication2.Models.Question

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Question</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionContent)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionContent)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Response)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Response)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Severity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Severity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.probability)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.probability)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ComputedImpact)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ComputedImpact)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TimeTaken)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TimeTaken)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TumourGroup)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TumourGroup)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Request.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Request.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionType)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
