@model IEnumerable<MvcApplication2.Models.Question>

@{
    ViewBag.Title = "Request";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New Request", "Create")
</p>
<table>
    <tr>    
        <th>
            @Html.DisplayNameFor(model => model.Request.RequestId)
        </th>
        <th>
            Keyword
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Request.TotalTimeSpent)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
   
        <td>
            @Html.DisplayFor(modelItem => item.Request.RequestId)
        </td>
        <td>
            @foreach (var key in item.Keywords) { 
                @Html.DisplayFor(modelItem => key.Keyword)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Request.TotalTimeSpent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }) 
        </td>
    </tr>
}

</table>
