@model MvcApplication2.Models.CallerType

<h2>Add Question Type</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Question Type</legend>

            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
            @Html.LabelFor(model => model.TypeAbbreviate)
            @Html.EditorFor(model => model.TypeAbbreviate)
            @Html.ValidationMessageFor(model => model.TypeAbbreviate)
       

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}