@model MvcApplication2.Models.QuestionType

<h3>Are you sure you want to delete this question type?</h3>
<fieldset>
    <legend></legend>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.Name)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         <b>@Html.DisplayNameFor(model => model.QuestionTypeAbbreviate)</b>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionTypeAbbreviate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Cancel", "QuestionType")
    </p>
}