@model MvcApplication2.Models.Keywords
@{
    ViewBag.Title = "Edit Keyword";
    string keyID = ViewBag.keyID;
    int isActive = Convert.ToInt16(ViewBag.keyIsActive);
}

<h2>Edit Keyword</h2>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Keyword</legend>

            @Html.HiddenFor(model => model.Keyword)
        <label>Keyword:</label>
        <label>@keyID</label>

        <label>Activation Status</label>
        <input type="checkbox" name="activationStatus" value="@isActive"
                @(Html.Raw((isActive==1)? "checked=\"checked\"": ""))
                />

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
