
<div class="content-wrapper">
    <div class="float-left">
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Keyword Management", "Admin", "Admin")</li>
                <li>@Html.ActionLink("Request Management", "RequestManagement", "Admin")</li>
                <li>@Html.ActionLink("Field Management", "FieldManagement", "Admin")</li>
                 <li>@Html.ActionLink("User Management", "Index", "Users")</li>
                 <li>@Html.ActionLink("View History", "ViewHistory", "Admin")</li>
            </ul>
        </nav>
    </div>
</div><br /><br /><br /><hr />

<ul >
                <li>@Html.ActionLink("Tumor Group", "TumorGroup", "Admin")</li>
                <li>@Html.ActionLink("Question Type", "QuestionType", "Admin")</li>
                 <li>@Html.ActionLink("User Group", "UserGroup", "Admin")</li>
                <li>@Html.ActionLink("Caller Type", "CallerType", "Admin")</li>
            </ul>