@model IEnumerable<MvcApplication2.ViewModels.LoggingModel>
@{
    ViewBag.Title = "View History";
    List<MvcApplication2.ViewModels.LoggingModel> allReq = ViewBag.SortedList;
    MvcApplication2.Models.UsersContext db = new MvcApplication2.Models.UsersContext();
}
<div class="content-wrapper">
    <div class="float-left">
        <nav>
            <ul id="menu">
                <li>@Html.ActionLink("Keyword Management", "Admin", "Admin")</li>
                <li>@Html.ActionLink("Request Management", "RequestManagement", "Admin")</li>
                <li>@Html.ActionLink("Field Management", "FieldManagement", "Admin")</li>
                 <li>@Html.ActionLink("User Management", "Index", "Users")</li>
                 <li>@Html.ActionLink("View History", "ViewHistory", "Admin")</li>
            </ul>
        </nav>
    </div>
</div><br /><br /><br /><hr />
<h2>View History</h2>
@using (Html.BeginForm())
    {    
         <p> Request Keyword: @Html.TextBox("key") &nbsp;  
         <input type="submit" value="Filter" /></p> 
    } 
<div style="height: 400px; overflow-y:scroll;">
<table>
    <tr>
        <td>
           <label>User Action</label>
        </td>

        <td>
            <label>USER ID</label>
        </td>

        <td>
            <label>USER NAME</label>
        </td>
        <td>
            <label>REQUEST ID</label>
        </td>
        <td>
            <label>TIME</label>
        </td>
        </tr>
        @{
            
            foreach(var req in allReq){
                <tr>
                     <td>
                        @Html.DisplayFor(modelElem=>req.Action)
                    </td>
                    <td>
                        @Html.DisplayFor(modelElem => req.UserId)
                    </td>
                    <td>
                        <p>@db.UserProfiles.Where(i=>i.UserId == req.UserId).Single().UserName</p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelElem => req.RequestId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelElem=>req.time)
                    </td>
                   
                    </tr>
                
            }
            
        }
   



</table>
    </div>