@model IEnumerable<MvcApplication2.Models.Request>
@{
    ViewBag.Title = "search";
}


@using (Html.BeginForm("search","DISpecialist"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    
    @Html.Raw(" <table   <tr>   <th>RequestId</th>   <th>Active</th>  <th>Caller</th> <th>Phone</th>  </tr>");
   
    foreach (var item in Model)
   {
        
    @Html.Raw("<tr><td>");
    @Html.DisplayFor(modelItem => item.RequestId)
    @Html.Raw("</td>");
    @Html.Raw("<td>");
    @Html.DisplayFor(modelItem => item.IsActive)
    @Html.Raw("</td>");
    @Html.Raw("<td>");
    @Html.DisplayFor(modelItem => item.Name)
    @Html.Raw("</td>");
    @Html.Raw("<td>");
    @Html.DisplayFor(modelItem => item.Phone)
    @Html.Raw("</td></tr>");
               
    
       
   }
    @Html.Raw("</table>")
    
    

   
    <input type="submit" value="Export" />
}