@model MvcApplication2.Models.ForgotPassword
@{
    ViewBag.Title = "Forgot password?";
}
@using (Html.BeginForm("ForgotPassword", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Enter username</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.PasswordFor(m => m.UserName)
            </li>
            <span style="color:red;">@TempData["Message"]</span>
        </ol>
        <input type="submit" value="Remind" />
    </fieldset>
}
