@model MvcApplication2.Models.LocalPasswordModel
@{
    ViewBag.Title = "Manage Account";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
@if (ViewBag.StatusMessage == "Your password expired. Please change it.")
{
<p class="message-success" style="color:red;">@ViewBag.StatusMessage</p>
}
else {<p class="message-success">@ViewBag.StatusMessage</p>}
<p>You're logged in as <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.StatusMessage != "Your password has been changed.")
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    
}

@*<section id="externalLogins">
    @Html.Action("RemoveExternalLogins")

    <h3>Add an external login</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
